:root {
  --color-neutral-text-default: #ffffff;
  --color-neutral-text-weak: #bdbdbd;
  --color-neutral-text-medium: #1c1c1c;
  --color-neutral-text-strong: #ffffff;
  --color-neutral-text-focus: #1c1c1c;
  --color-neutral-text-disabled: #6e6e6e;
  --color-neutral-background-default: #1c1c1c;
  --color-neutral-background-weak: #121212;
  --color-neutral-background-medium: #262626;
  --color-neutral-background-strong: #333333;
  --color-neutral-background-hover: rgba(51, 51, 51, 0.5);
  --color-neutral-background-disabled: #333333;
  --color-neutral-background-skeleton: #333333;
  --color-neutral-background-active: #262626;
  --color-neutral-background-inactive: #333333;
  --color-neutral-background-select: #6e6e6e;
  --color-neutral-background-focus: #ffffff;
  --color-neutral-background-focus-hover: #f5f5f5;
  --color-neutral-background-focus-pressed: #eeeeee;
  --color-neutral-background-data: #bdbdbd;
  --color-neutral-background-brand-black: #000000;
  --color-neutral-background-brand-white: #ffffff;
  --color-neutral-background-overlay: rgba(0, 0, 0, 0.6);
  --color-neutral-border-default: #6e6e6e;
  --color-neutral-border-weak: #262626;
  --color-neutral-border-medium: #333333;
  --color-neutral-border-strong: #333333;
  --color-neutral-border-active: #ffffff;
  --color-neutral-border-focus: #1c1c1c;
  --color-neutral-border-disabled: #333333;
  --color-neutral-border-hover: #bdbdbd;
  --color-neutral-border-brand: rgba(255, 255, 255, 0.15);
  --color-neutral-icon-default: #ffffff;
  --color-neutral-icon-weak: #bdbdbd;
  --color-neutral-icon-medium: #1c1c1c;
  --color-neutral-icon-strong: #ffffff;
  --color-neutral-icon-disabled: #6e6e6e;
  --color-neutral-icon-brand: #1c1c1c;
  --color-action-text-default: #6690ff;
  --color-action-text-medium: #ffffff;
  --color-action-text-focus: #336bff;
  --color-action-text-hover: #adc4ff;
  --color-action-text-pressed: #d6e1ff;
  --color-action-text-data: #00f0e1;
  --color-action-background-default: #336bff;
  --color-action-background-weak: #142b66;
  --color-action-background-medium: #1f4099;
  --color-action-background-strong: #1f4099;
  --color-action-background-disabled: #1f4099;
  --color-action-background-hover: #2650bf;
  --color-action-background-pressed: #1f4099;
  --color-action-background-data-risk: #00c0b4;
  --color-action-background-data-allocation: #1f4099;
  --color-action-background-data-primary: #6690ff;
  --color-action-background-data-secondary: #2650bf;
  --color-action-background-brand: #00c8f5;
  --color-action-border-default: #336bff;
  --color-action-border-weak: #0a1533;
  --color-action-border-focus: #2650bf;
  --color-action-border-hover: #adc4ff;
  --color-action-border-pressed: #d6e1ff;
  --color-action-border-data: #00f0e1;
  --color-action-icon-default: #6690ff;
  --color-action-icon-medium: #ffffff;
  --color-action-icon-hover: #adc4ff;
  --color-action-icon-pressed: #d6e1ff;
  --color-action-icon-brand: #00c8f5;
  --color-negative-text-default: #ff2b83;
  --color-negative-text-hover: #ff6aa8;
  --color-negative-text-pressed: #ffaacd;
  --color-negative-background-default: #cc2269;
  --color-negative-background-weak: #590f2e;
  --color-negative-background-medium: #ff2b83;
  --color-negative-background-strong: #ac135a;
  --color-negative-background-data-graph: #ac135a;
  --color-negative-background-data-primary: #ff2b83;
  --color-negative-background-data-secondary: #cc2269;
  --color-negative-background-hover: #ac135a;
  --color-negative-background-pressed: #78013a;
  --color-negative-background-brand: #ff2b83;
  --color-negative-border-default: #ff2b83;
  --color-negative-icon-default: #ff2b83;
  --color-negative-icon-hover: #ff6aa8;
  --color-negative-icon-pressed: #ffaacd;
  --color-negative-icon-brand: #ff2b83;
  --color-negative-text-brand: #ff2b83;
  --color-positive-text-default: #51cb20;
  --color-positive-text-medium: #d2f500;
  --color-positive-text-hover: #85da62;
  --color-positive-background-default: #51cb20;
  --color-positive-background-weak: #20510d;
  --color-positive-background-medium: #85da62;
  --color-positive-background-strong: #41a21a;
  --color-positive-background-data: #317a13;
  --color-positive-background-brand: #d2f500;
  --color-positive-border-default: #51cb20;
  --color-positive-icon-default: #51cb20;
  --color-positive-icon-focus: #41a21a;
  --color-positive-icon-hover: #85da62;
  --color-positive-icon-data: #336bff;
  --color-positive-icon-brand: #d2f500;
  --color-warning-text-default: #ffcf00;
  --color-warning-background-default: #ffcf00;
  --color-warning-background-weak: #614f00;
  --color-warning-background-medium: #332900;
  --color-warning-background-strong: #ffcf00;
  --color-warning-icon-default: #ffcf00;
  --color-warning-border-default: #ffcf00;
  --color-warning-icon-strong: #ffcf00;
  --color-error-text-default: #ff4733;
  --color-error-background-default: #ff4733;
  --color-error-text-hover: #ff7e70;
  --color-error-text-pressed: #ffa399;
  --color-error-background-weak: #661c14;
  --color-error-background-medium: #ff4733;
  --color-error-background-hover: #cc3929;
  --color-error-background-pressed: #992b1f;
  --color-error-border-default: #ff4733;
  --color-error-icon-default: #ff4733;
  --color-error-icon-hover: #ff7e70;
  --color-error-icon-pressed: #ffa399;
  --color-accent-text-default: #00f0e1;
  --color-accent-background-default: #00f0e1;
  --color-accent-background-weak: #004844;
  --color-accent-background-strong: #00605a;
  --color-accent-background-brand: #00f0e1;
  --color-accent-background-brand-hover: #99f9f3;
  --color-accent-background-brand-pressed: #ccfcf9;
  --color-accent-icon-default: #00f0e1;
  --color-accent-icon-brand: #00f0e1;
  --effect-shadow-low-0: 0px 0px 20px 0px #00000000;
  --effect-shadow-low-1: 0px 0px 2px 0px #00000000;
  --effect-shadow-medium-0: 0px 0px 20px 0px #00000000;
  --effect-shadow-medium-1: 0px 0px 2px 0px #00000000;
  --effect-shadow-high-0: 0px 0px 20px 0px #0000001f;
  --effect-shadow-high-1: 0px 0px 8px 0px #00000029;
}
